<article class="container">
  <header><h2>Add a New Company</h2></header>

  
  <form (ngSubmit)="onSubmit()" #companyForm="ngForm" class="company-form">
    <div class="form-group">
      <label for="companyName">Company Name</label>
      <input type="text" id="companyName" [(ngModel)]="newCompany.name" name="companyName" required>
    </div>

    <div class="form-group">
      <label for="companySector">Sector</label>
      <input type="text" id="companySector" [(ngModel)]="newCompany.sector" name="companySector" required>
    </div>

    <button type="submit" [disabled]="!companyForm.form.valid" class="btn-submit">Add Company</button>

    <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </form>
</article>
