<article *ngIf="employee">
    <header><h2>Edit Employee</h2></header>
  
    <form class="container" #form="ngForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-4 p-2">
          <div>
            <label for="name">Employee Name:</label>
            <input id="name" name="name" [(ngModel)]="employee.name" required/>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-4 p-2">
          <div>
            <label for="seniority">Seniority:</label>
            <input id="seniority" name="seniority" [(ngModel)]="employee.seniority" required/>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-2 p-2">
          <button type="submit">Update</button>
        </div>
        <div class="col-2 p-2">
          <button type="button" (click)="onReset(form)">Reset</button>
        </div>
      </div>
    </form>
  </article>